@import "neat";

$full-grid: (
  media: 850px
);

$medium-grid: (
  media: 500px
);

$collapsed-grid: (
  media: 0px
);

$neat-grid: (
  gutter: 40px
);

.hero {
  @include grid-container();

  .terminal {
    @include grid-media($collapsed-grid) {
      display: none;
    };

    @include grid-media($full-grid) {
      display: block;
      @include grid-column(6);
      @include grid-push(1);
    };
  }

  .title {
    @include grid-media($collapsed-grid) {
      @include grid-column(12);
    };

    @include grid-media($medium-grid) {
      margin-top: 0;

      @include grid-column(12);
    };

    @include grid-media($full-grid) {
      margin-top: 45px;

      @include grid-column(4);
    };
  }
}

.highlights, .features {
  @include grid-container();

  .highlight, .feature {
    @include grid-media($collapsed-grid) {
      @include grid-column(12);
    };

    @include grid-media($medium-grid) {
      @include grid-column(6);

      height: 185px;
    };

    @include grid-media($full-grid) {
      @include grid-column(3);
    };
  }
}

.footer {
  @include grid-container();

  .copyright {
    @include grid-column(12);
  }
}
