.logo {
  display: block;
  margin: auto;
  width: 160px;
}

.alt-font {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 7px;
}

.feature {
  text-align: center;

  & > h2 {
    line-height: 47px;
    margin-bottom: 5px;
  }

  .title {
    white-space: nowrap;
  }

  .icon {
    font-size: 48px;
    position: relative;
  }
}

.hero {
  margin: 60px 0;

  .title {
    margin-top: 40px;

    h3 {
      margin-top: 20px;
    }
  }

  .links {
    margin-top: 15px;

    .icon {
      margin-right: 5px;
    }

    a {
      display: inline-block;
    }
  }

  .icon {
    font-size: 14px;
  }

  a {
    color: #a33;

    &:hover {
      color: #c33;
      text-decoration: none;
    }

    &:nth-child(n-1) {
      margin-right: 5px;
    }

    &:nth-child(n+1) {
      margin-left: 5px;
    }
  }
}

.icon-gift {
  margin-right: 2px;
  top: 2px;
}

.icon-terminal {
  margin-right: 6px;
  top: 8px;
}

.icon-magic-wand {
  margin-right: 6px;
  top: 6px;
}

.icon-leaf {
  top: 4px;
}

.footer {
  text-align: center;
  margin: 50px;
}
