---
title: Amp - A complete text editor for your terminal
---

.container-fluid
  .row.hero.justify-content-center
    .col-6
      == partial "terminal"
    .col-3.title
      img.logo src="images/logo.svg"
      h3.center A complete text editor for your terminal.

      .center.links
        a href="https://amp.rs/docs/installation"
          span.icon.icon-download
          | Install v0.3.0

        a href="https://amp.rs/docs"
          span.icon.icon-book
          | Documentation

        a href="https://github.com/jmacdonald/amp"
          span.icon.icon-github
          | Github

  .row.features.justify-content-center
    .col-md-3.feature
      h2
        span.icon.icon-gift
        span.title Feature Packed

      p Everything you need to get started: syntax highlighting, file finder,
        symbol jump, basic Git integration, and more!

    .col-md-3.feature
      h2
        span.icon.icon-terminal
        span.title Text-based UI

      p Built to sit inside your terminal, or on a server.
        It pairs incredibly well with tmux.

    .col-md-3.feature
      h2
        span.icon.icon-magic-wand
        span.title Expressive

      p A modal, keyboard-driven interface inspired by <a href="http://vim.org">Vim</a>
        that makes navigating and editing text <em>fast</em>.

    .col-md-3.feature
      h2
        span.icon.icon-leaf
        span.title Lightweight

      p Written in <a href="https://rust-lang.org">Rust</a>,
        a low-level, high-performance language without garbage collection.

  .row.footer
    .col-12 &copy; 2015-2018 Jordan MacDonald
