---
title: Amp - A complete text editor for your terminal
---

    <div class="container-fluid">
      <div class="row hero justify-content-center">
        <div class="col-6">
          <%= partial "terminal" %>
        </div>
        <div class="col-3 title">
          <img class="logo" src="images/logo.svg">
          <h3 class="center">A complete text editor for your terminal.</h3>

          <div class="center links">
            <a href="https://amp.rs/docs/installation">
              <span class="icon icon-download"></span>
              Install v0.3.0
            </a>

            <a href="https://amp.rs/docs">
              <span class="icon icon-book"></span>
              Documentation
            </a>

            <a href="https://github.com/jmacdonald/amp">
              <span class="icon icon-github"></span>
              Github
            </a>
          </div>
        </div>
      </div>

      <div class="row features justify-content-center">
        <div class="col-md-3 feature">
          <h2>
            <span class="icon icon-gift"></span>
            <span class="title">Feature Packed</span>
          </h2>

          <p>
            Everything you need to get started: syntax highlighting, file finder, symbol jump, basic Git integration, and more!
          </p>
        </div>

        <div class="col-md-3 feature">
          <h2>
            <span class="icon icon-terminal"></span>
            <span class="title">Text-based UI</span>
          </h2>

          <p>
            Built to sit inside your terminal, or on a server.
            It pairs incredibly well with tmux.
          </p>
        </div>

        <div class="col-md-3 feature">
          <h2>
            <span class="icon icon-magic-wand"></span>
            <span class="title">Expressive</span>
          </h2>

          <p>
            A modal, keyboard-driven interface inspired by <a href="http://vim.org">Vim</a>
            that makes navigating and editing text <em>fast</em>.
          </p>
        </div>

        <div class="col-md-3 feature">
          <h2>
            <span class="icon icon-leaf"></span>
            <span class="title">Lightweight</span>
          </h2>

          <p>
            Written in <a href="https://rust-lang.org">Rust</a>, a
            low-level, high-performance language without garbage collection.
          </p>
        </div>
      </div>

      <div class="row footer">
        <div class="col-12">
          &copy; 2015-2018 Jordan MacDonald
        </div>
      </div>
    </div>
